/* PROJECT STYLES */
body {
    font-family: "Benton Sans";
}

#wrapper {
    margin-right:auto;
    margin-left:auto;
}

.myButton2 {
    background-color: #ddd;
    width: 13%;
}

.myButton2:hover {
    background-color: #5cbf2a !important;
}

.myButton2:active {
    background-color: #5cbf2a;
}

.byline a {
    color: #888888 !important;
}

.byline {
    line-height:140%;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.legendary {
    padding:4px;
    color: #fff;
    font-weight:normal !important;
    display:inline-block;
    border-radius: 5px;
    padding: 0 7px;
    margin-bottom: 3px;
}

#chartBox0 {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

.chart svg {
    width: 100%;
    height: 80px;
}

.wrapper-dropdown-1 {
    width: 100%;
}

.wrapper-demo {
    width: 100%;
}

.filterBreak {
    height: 7px;
    border-bottom: 1px solid #333;
    clear: both;
}

text {
    font-family: "Benton Sans" !important;
}

.nv-axisMaxMin {
    font-family: "Popular" !important;
}

.category {
    font-weight: 900;
    font-family: "Benton Sans";
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.question {
    font-family: "Benton Sans";
    font-size: 1.3em;
    font-weight: 400;
}

.qhighlight {
    font-weight:900;
}

.card {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.year {
    display: inline-block;
    width: 15%;
    vertical-align: top;
}

.legendBlock {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.legendText {
    display: inline-block;
    margin-right: 7px;
}

.legendEntry {
    display:inline-block;
    width:32%;
    text-align:left;
    word-wrap: break-word;
    white-space: pre;
    padding:4px;
}

.adjacent {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;
}

.loadLink {
    color: steelblue !important;
}

.nvd3 .nv-axis {
    pointer-events: none;
    opacity: 1;
    display: none;
}

.chartLabel {
    text-align:left;
    margin-left:18px;
}

.loadLink:hover {
    color: black !important;
}

.legendBox {
    text-align: center;
    margin-bottom: 10px;
    width: 106%;
}

#bigResults {
    text-align: center;
    width: 100%;
    margin: 20px;
}

.icon img {
    width: 70px;
}

.icon {
    text-align: center;
    margin-top:2em;
/*    display: none;*/
}

#selector {
    display: none;
}

.neutral1 {
    color: #636363;
}

.neutral2 {
    color: #969696;
}

.dem1 {
    color: #08519c;
}

.dem2 {
    color: #c6dbef;
}

.gop1 {
    color: #a50f15;
}

.gop2 {
    color: #C68985;
}

.forLabel, .againstLabel {

}

#viewSwitches {
    width:97%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.thisView {
    opacity:1 !important;
    text-decoration:underline;
}

.switchIcon {
    opacity:0.5;
/*    width:48%;*/
    display:inline-block;
}

.switchIcon img {
    width:40px;
    padding:0;
}

.switchIcon:hover {
    cursor:pointer;
    opacity:1;
}

.smallbreaker {
    clear:both;
    padding:10px;
}

.table {
    display:none;
}

.bigNum {
    font-family: "Benton Sans" !important;
    text-align: center;
    font-weight: 900;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

#viewIcons {
    float:right;
    text-align:right;
}

#breakdownLabel {
    float:left !important;
    text-align:left !important;
    font-weight:900;
    font-size:1.4em;
}

.result {
    margin: 20px;
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 40% !important;
    white-space: nowrap;
}

table {
    width:100%;
    table-layout: fixed;
}

td, th {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    line-height: 160%;
    text-align:center;
}

@media (max-width:800px) {
    #wrapper, .chart {
        width:100%;
    }
    .adjacent,
    #chartBox0 {
        display: block !important;
        width: 100% !important;
    }
}

@media (max-width:520px) {
    .table table {
        font-size: 0.8em !important;
    }
    .table td {
        font-size: 0.8em !important;
    }
    .result {
        width:48% !important;
    }
}